body{
    margin: 0px;
    padding: 0px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 520px;

}

a{
    text-decoration: none;
    color: aliceblue;
}
